.toast {
    color: #000000 !important;
}

.toast .toast-button {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.toast .toast-button:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.toast .toast-button,
.toast .toast-button:focus {
    user-select: auto;
}

.toast .toast-button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.toast .toast-button:disabled {
    cursor: auto;
}

.toast .toast-button:active {
    border-width: 4px 0 0;
    background: none;
}

.toast-success {
    background-color: #dffae1 !important;
    border: 2px solid #4caf50 !important;
}

.toast-success .toast-button {
    background-color: #4caf50 !important;
}

.toast-success .toast-button:after {
    background-color: #66bb6a !important;
}

.toast-success strong {
    color: #4caf50 !important;
}

.toast-error {
    background-color: #fad0d0 !important;
    border: 2px solid #f44336 !important;
}

.toast-error .toast-button {
    background-color: #f44336 !important;
}

.toast-error .toast-button:after {
    background-color: #ef5350 !important;
}

.toast-error strong {
    color: #f44336 !important;
}

.toast-warning {
    background-color: #faebd5 !important;
    border: 2px solid #ff9800 !important;
}

.toast-warning .toast-button {
    background-color: #ff9800 !important;
}

.toast-warning .toast-button:after {
    background-color: #ffb74d !important;
}

.toast-warning strong {
    color: #ff9800 !important;
}

.toast-info {
    background-color: #d7eafa !important;
    border: 2px solid #2196f3 !important;
}

.toast-info .toast-button {
    background-color: #2196f3 !important;
}

.toast-info .toast-button:after {
    background-color: #64b5f6 !important;
}

.toast-info strong {
    color: #2196f3 !important;
}