.heatmap-editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}

/* Each heat area row */
.heatmap-area {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  padding: 16px;
  flex-direction: row;
}

/* Labels */
.heatmap-area label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  color: black;
  gap: 6px;
  align-items: start;
}

.heatmap-area input[type="number"] {
  width: 100px;
}