/* .cls-1 {
  fill: red;
} */

/* .cls-1 {
  fill: #4882a4;
} */

.cls-2 {
  fill: #d3114c;
}
.cls-4{
  width: 50%;
}
.room {
  fill: #d3114c;
  stroke: #342626;
  stroke-width: 1;
  transition: all 0.2s ease;
  cursor: pointer;
}

.room:hover {
  transform: scale(1.0075);
  transform-origin: center;
  filter: drop-shadow(0 0 6px rgba(232, 73, 43, 0.6));
}

.cls-3 {
  fill: #f8efe3;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FDF1E3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}