.floor-card {
  width: clamp(90px, 10vw, 120px);
  height: clamp(90px, 10vw, 120px);
  background: #000;
  border-radius: 14px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floor-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  margin-top: 10px;
}

.floor-number {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
  margin-top: 4px;
}

.floor-button {
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 8px;
  background: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s ease;
}

.floor-button:hover:not(:disabled) {
  background: #d3114c;
  color: white;
}

.floor-button:disabled {
  opacity: 0.35;
  cursor: not-allowed;
}

.floor-button-up {
  top: 34px;
}

.floor-button-down {
  bottom: 12px;
}
