.floor-card {
  width: 72px;
  height: 110px;
  background: #000;
  border-radius: 12px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.floor-title {
  font-size: 10px;
  font-weight: 300;
  margin-top: 6px;
  color: #d6d6d6;
}

.floor-number {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  margin-top: 2px;
}

.floor-button {
  position: absolute;
  right: 5px;

  width: 16px;
  height: 16px;

  border: none;
  border-radius: 4px;

  background: white;
  color: black;

  font-size: 8px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.15s ease;
}

.floor-button:hover:not(:disabled) {
  background: #d3114c;
  color: white;
}

.floor-button:disabled {
  opacity: 0.35;
  cursor: not-allowed;
}

.floor-button-up {
  top: 28px;
}

.floor-button-down {
  bottom: 10px;
}
